<title>BigPhish</title>
<meta charset="utf-8">
<% if (locals.menuId) { %>
<meta name="active-menu" content="<%= menuId %>">
<% } %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  JavaScript files -->
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

<!--  CSS files -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/css/flag-icon.css" />

<!--  Favicon -->
<link rel="icon" href="/favicon.svg">





