beautifulsoup4==4.12.3
blinker==1.7.0
dnspython==2.6.1
elasticsearch==8.15.1
elasticsearch_dsl==8.15.3
html5lib==1.1
imagehash==4.3.1
minio==7.2.9
Pillow==10.4.0
psutil==6.0.0
python-whois==0.9.4
requests==2.32.4
selenium==4.25.0
selenium-wire==5.1.0
tld==0.13
wfuzz==3.1.0
wrapt-timeout-decorator==1.5.1
